.whiskieListPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20em;
  height: 20em;
  margin-top: 1em;
  cursor: pointer;
}

.searchBars {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins;
}

.searchBars .searchContainer,
.searchBars .selectContainer {
  max-width: 22em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25em;
}

.searchContainer input {
  height: 36.6px;
  border: 1px solid orange;
  border-radius: 1em;
  font-size: 1em;
  background-color: transparent;
  color: white;
}

.searchContainer input::placeholder {
  color: rgb(158, 154, 154);
}

.searchContainer input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid orange;
}

.selectContainer > div {
  width: 100%;
}

.emptyFilters {
  border: none;
  background-color: transparent;
  color: wheat;
  height: 2.67em;
  font-family: Poppins;
  margin-bottom: 1em;
}

.fill {
  height: 2.67em;
  margin-bottom: 1em;
}

.countryLabel {
  color: wheat;
  font-family: Abril fatface;
}
