.whiskieListPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20em;
  height: 20em;
  margin-top: 1em;
  cursor: pointer;
}

.searchBars {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBars .searchContainer,
.searchBars .selectContainer {
  max-width: 22em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25em;
}

.searchContainer input {
  height: 3em;
  border: none;
  font-size: 0.8em;
}

.selectContainer > div {
  width: 100%;
}
