h1 {
  color: white;
}

.deleteWhiskeyForm {
  display: flex;
  flex-direction: column;
}

.deleteWhiskeyForm button {
  border: none;
  border-radius: 0.5em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  height: max-content;
  background-color: rgb(224, 207, 153);
  color: rgb(107, 10, 10);
  margin: 1em;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
}

.formContainer form {
  width: 70%;
}

.formContainer label {
  color: white;
  margin: 0.2em;
}

@import "https://unicons.iconscout.com/release/v4.0.0/css/thinline.css";

.formFrame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  align-items: center;
}

.wrapper {
  margin: 1em 0 1em 0 !important;
  padding: 1em;
  background-color: rgba(111, 113, 111, 0.278);
  border: none;
}

.wrapper label {
  margin-bottom: 1em;
}

.content {
  border: none;
}

.content ul {
  display: flex;

  flex-wrap: wrap;

  width: 100%;
  padding-left: 0;
}

.content ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  background: #dd8023;
  color: white;
  padding: 0.5em;
  border-radius: 0.3em;
  margin: 0 0.5em 0 0;
  border: none;
  cursor: pointer;
}

.content ul li span {
  height: 1.7em;
  width: 1.7em;
  font-size: 1em;
  text-align: center;
  margin-top: -0.05em;
  line-height: 1.5em;
  margin-left: 0.7em;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
}

.content ul input {
  width: 100%;
  flex: 1em;
  outline: none;
  padding: 5px;
  font-size: 1em;
  border: none;

  border-radius: 0.3em;
}

.wrapper .details {
  display: flex;
  justify-content: space-between;
  color: white;
}
